<p id="notice"><%= notice %></p>

<h1>Decks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members = @cart.members %>
    <% @members.each do |m| %>
      <tr>
        <td><%= m.card_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deck', new_deck_path %>
